---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Banner from "../components/Banner.astro";
import Footer from "../components/Footer.astro";
import {
  Modal,
  ModalHeader,
  ModalBody,
  ModalFooter,
  Button,
} from "free-astro-components";
import AboutUsModal from "../components/AboutUsModal.astro";
import CardModal from "../components/CardModal.astro";
import BookUsModal from "../components/BookUsModal.astro";
import ContactUsModal from "../components/ContactUsModal.astro";

const links = [
  {
    title: "BOOK US",
    imageUrl: "/img/book-us.jpg",
    modal: true,
    modalId: "book-us-modal",
  },
  {
    title: "CONTACT US",
    imageUrl: "/img/contact-us.jpg",
    modal: true,
    modalId: "contact-us-modal",
  },
  {
    title: "PHOTOS & VIDEOS",
    link: "https://www.instagram.com/aquamariafll?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw%3D%3D",
    imageUrl: "/img/photos-vid.jpg",
    modal: false,
  },
  {
    title: "ABOUT US",
    imageUrl: "/img/about-us.jpg",
    modal: true,
    modalId: "about-us-modal",
  },
];

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Header />
  <section class="flex flex-col items-center gap-4 p-4 max-w-screen-lg mx-auto">
    {
      links.map((item) =>
        item.modal ? (
          <CardModal
            modalId={item.modalId}
            title={item.title}
            imageUrl={item.imageUrl}
          />
        ) : (
          <Card title={item.title} link={item.link} imageUrl={item.imageUrl} />
        )
      )
    }

    <!-- Asegúrate que este modal tenga un ID único y que CardModal lo active -->
    <AboutUsModal
      modalId="about-us-modal"
    />
    <BookUsModal
      modalId="book-us-modal"
    />
    <ContactUsModal
      modalId="contact-us-modal"
    />
  </section>
</Layout>
<Footer />
<!-- <Banner title="ABOUT US" link="https://google.com"/> -->
