---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Banner from "../components/Banner.astro";
import Footer from "../components/Footer.astro";
import {
  Modal,
  ModalHeader,
  ModalBody,
  ModalFooter,
  Button,
} from "free-astro-components";
import AboutUsModal from "../components/AboutUsModal.astro";
import CardModal from "../components/CardModal.astro";

const links = [
  {
    title: "BOOK US",
    imageUrl: "https://placehold.co/600x400",
    modal: true,
    modalId: "modal-id",
  },
  {
    title: "CONTACT US",
    imageUrl: "https://placehold.co/600x400",
    modal: true,
    modalId: "modal-id",
  },
  {
    title: "PHOTOS & VIDEOS",
    link: "https://tu-link3.com",
    imageUrl: "https://placehold.co/600x400",
    modal: false,
  },
  {
    title: "ABOUT US",
    imageUrl: "https://placehold.co/600x400",
    modal: true,
    modalId: "modal-id",
  },
];

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Header />
  <section class="flex flex-col items-center gap-4 p-4 max-w-screen-lg mx-auto">
    {
      links.map((item) =>
        item.modal ? (
          <CardModal
            modalId={item.modalId}
            title={item.title}
            imageUrl={item.imageUrl}
          />
        ) : (
          <Card title={item.title} link={item.link} imageUrl={item.imageUrl} />
        )
      )
    }

    <!-- Asegúrate que este modal tenga un ID único y que CardModal lo active -->
    <AboutUsModal
      title="About Us Content"
      imageUrl="https://placehold.co/600x400"
      modalId="about-us-modal"
    />
  </section>
</Layout>
<Footer />
<!-- <Banner title="ABOUT US" link="https://google.com"/> -->
